*{

}
body{
    height: 100vh;
    background-color: bisque;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
div{
    background-color: rgb(80, 137, 215);
    width: 39%;
    height: 80%;
    border-radius: 10%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    /* background: linear-gradient(to bottom, #1d60be 20%, white 80%); */
}
#photo{
    height: 150px;
    width : 150px;
    border-radius: 50%;
    background-color: white ;
    border: 4px solid rgb(80, 137, 215);
    margin: 2px auto;
    object-fit: cover;
    padding: 5px;
    position: relative;    
     z-index: 20;      
    margin-top: 50px;

    
}
#blue{
   
    height:40%;
    width: 100%; 
    

}
#white{
    height: 65%;
    width: 100%;
    
    background-color: white;
    position: relative;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    height:300px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
}
h3{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 5px;
    font-size: 18px;
    margin-bottom:200px;
    text-align: center;
    opacity: 0.5;
}

.link1{
  position: absolute; 
  bottom: 160px;       
  left: 25%;          
  transform: translateX(-50%);   
  width: 30px;
  height: 30px;
  fill: #285fad
}

.link2{
    position: absolute; 
    bottom: 160px;       
    left: 50%;         
    transform: translateX(-50%); 
    width: 30px;
    height: 30px;
    fill: #de29de

}
.link3{
    position: absolute; 
    bottom: 160px;      
    left: 70%;         
    /* transform: translateX(-50%); Perfectly centers it */
    width: 30px;
    height: 30px;
    fill:rgb(80, 137, 215)

}
.gita{
    height: 30px;
    width:100px;
    background-color:rgb(80, 137, 215);
    position: absolute;
    bottom:90px;
    left:16%;
    border-radius: 30%;

}
.git{
    position: absolute ;
    left:19%;
    color: azure;
    font-family: "Poppins", sans-serif;
    text-decoration: none;



}
.msg{
    height: 30px;
    width:100px;
    background-color:rgb(80, 137, 215);
    position: absolute;
    bottom:90px;
    left:60%;
    border-radius: 30%;

}
.ms{
    position: absolute ;
    left:16%;
    color: azure;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
